@import url("https://fonts.googleapis.com/css?family=Karla:400,700|Karma:300,400");
body {
  margin: 0;
  background: #FFFFFF;
  overflow-x: hidden; }

#navbar {
  position: absolute; }

.navbar-open-icon {
  display: block;
  margin: 20px;
  height: 45px;
  width: 45px;
  position: relative;
  cursor: pointer; }
  .navbar-open-icon:hover .line {
    background: #B49EBF; }

.navbottom {
  position: absolute;
  z-index: 2;
  bottom: 0; }

.line {
  position: absolute;
  left: 10px;
  height: 2px;
  border-radius: 120px;
  background: #000000; }

.top {
  width: 65%;
  top: 10px; }

.middle {
  width: 100%;
  top: 23px; }

.bottom {
  width: 80%;
  top: 37px; }

.nav-main {
  position: absolute;
  background: #F4ECE6;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  opacity: 1;
  transition: all 0.4s ease; }

.close {
  opacity: 0;
  z-index: -10;
  position: absolute; }

.nodisplay {
  display: none; }

.nav {
  margin-top: 40px; }

.nav-close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  width: 45px;
  height: 45px; }
  .nav-close-icon:hover .icon-line {
    background: #B49EBF; }

.icon-line {
  position: absolute;
  top: 1em;
  width: 40px;
  height: 2px;
  background: #000000;
  transform: rotate(45deg); }

.transform {
  transform: rotate(-45deg); }

.nav-links {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .nav-links a {
    font-family: "Karma", serif;
    font-size: 3.3em;
    letter-spacing: -1px;
    font-weight: 300;
    text-decoration: none;
    color: black;
    padding: 0.3em 0; }

/*navlink hover effect*/
.slide-out {
  display: inline-block;
  position: relative;
  text-decoration: none; }
  .slide-out::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: -5px;
    border-bottom: 7px solid #A7C4EF;
    transition: 0.4s; }
    .slide-out::after:hover {
      width: 100%; }

.slide-out:hover:after {
  width: 100%; }

.nav-title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8em;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  margin-bottom: 4em; }

.nav-line {
  position: absolute;
  width: 5%;
  height: 2px;
  top: 11.5%;
  left: 47.5%;
  background: #A7C4EF; }

.nav-social {
  height: 100px;
  padding-top: 25px; }
  .nav-social i {
    padding: 30px;
    color: #A7C4EF;
    transition: all 0.4s ease;
    font-size: 18px; }
    .nav-social i:hover {
      color: #B49EBF;
      transition: all 0.4s ease;
      transform: scale(1.3); }
