@import url("https://fonts.googleapis.com/css?family=Karla:400,700|Karma:300,400");
body {
  margin: 0;
  background: #FFFFFF; }

.sidenav-links {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .sidenav-links p {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: "Karla", sans-serif;
    font-weight: 700; }
  .sidenav-links a {
    font-family: "Karma", serif;
    font-size: 3em;
    letter-spacing: -1px;
    font-weight: 300;
    text-decoration: none;
    color: black;
    padding: 10px 0; }
