@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Karma:300,400');

$sans: 'Karla', sans-serif;
$serif: 'Karma', serif;

$white: #FFFFFF;
$purple: #CCB3D8;
$blue: #A7CBF2;
$yellow: #FFE98C;
$green: #A5C495;
$cream: #EFE9E3;
$pink: #efbfbd;
$dark: #261F1F;

$ease: all .4s ease;
$fast: all .2s ease-out;
