@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Karma:300,400');

$sans: 'Karla', sans-serif;
$serif: 'Karma', serif;

$white: #FFFFFF;
$purple: #A48ECC;
$blue: #83A1E2;
$yellow: #FCE479;
$green: #A5C495;
$cream: #EFEADC;
$pink: #efb3cf;
$dark: #261F1F;

$ease: all .4s ease;
$fast: all .2s ease-out;
