@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Karma:300,400');

$body: 'Karla', sans-serif;
$display: 'Karma', serif;

$white: #FFFFFF;
$main: #9685BF;
$dark: #000000;

body {
  margin: 0;
  background: $white;
}

.nav {
  margin-top: 3em;
}
.navbar-icon {
  position: absolute;
  right: 1.8em;
  top: 1.8em;
  cursor: pointer;
  width: 45px;
  height: 45px;
  &:hover {
    .icon-line {
      background: $main;
    }
  }
}
.icon-line {
  position: absolute;
  top: 1em;
  width: 40px;
  height: 2px;
  background: $dark;
  transform: rotate(45deg);
}
.transform {
  transform: rotate(-45deg);
}

.nav-links {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  a {
    font-family: $display;
    font-size: 3em;
    letter-spacing: -1px;
    font-weight: 300;
    text-decoration: none;
    color: black;
    padding: 0.4em 0;
  }
}

.nav-title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: $body;
  font-weight: 700;
  margin-bottom: 3em;
}
