@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Karma:300,400');

$body: 'Karla', sans-serif;
$display: 'Karma', serif;

$white: #FFFFFF;
$purple: #B49EBF;
$blue: #94ADD3;
$green: #BCE0A8;
$cream: #F4EBCB;
$pink: #FCC8C2;
$dark: #000000;

body {
  margin: 0;
  background: $white;
}

.navbar-left {

}
.navbar-open-icon {
  margin: 20px;
  height: 45px;
  width: 45px;
  position: relative;
  cursor: pointer;
  &:hover {
    .line {
      background: $purple;
    }
  }
}

.line {
  position: absolute;
  left: 10px;
  height: 2px;
  border-radius: 120px;
  background: $dark;
}
.top {
  width: 65%;
  top: 10px;
}
.middle {
  width: 100%;
  top: 23px;
}
.bottom {
  width: 80%;
  top: 37px;
}

.close {
  display: none;
}

.navbar-main-menu {
}

.nav {
  margin-top: 3em;
}
.navbar-close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  &:hover {
    .icon-line {
      background: $purple;
    }
  }
}
.icon-line {
  position: absolute;
  top: 1em;
  width: 40px;
  height: 2px;
  background: $dark;
  transform: rotate(45deg);
}
.transform {
  transform: rotate(-45deg);
}

.nav-links {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  a {
    font-family: $display;
    font-size: 3em;
    letter-spacing: -1px;
    font-weight: 300;
    text-decoration: none;
    color: black;
    padding: 0.4em 0;
  }
}

.nav-title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: $body;
  font-weight: 700;
  margin-bottom: 3em;
}
