@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Karma:300,400');

$body: 'Karla', sans-serif;
$display: 'Karma', serif;

$white: #FFFFFF;
$purple: #B49EBF;
$blue: #94ADD3;
$green: #BCE0A8;
$cream: #F4EBCB;
$pink: #FCC8C2;
$dark: #000000;

$ease: all .7s ease;

$animate: all 0.2s ease-in-out;

body {
  margin: 0;
  background: $white;
  overflow-x: hidden;
}

#navbar {
  position: absolute;
}
.navbar-open-icon {
  display: block;
  margin: 20px;
  height: 45px;
  width: 45px;
  position: relative;
  cursor: pointer;
  &:hover {
    .line {
      background: $purple;
    }
  }
}
.navbottom {
  position: absolute;
  z-index: 2;
  bottom: 0;
}

.line {
  position: absolute;
  left: 10px;
  height: 2px;
  border-radius: 120px;
  background: $dark;
}
.top {
  width: 65%;
  top: 10px;
}
.middle {
  width: 100%;
  top: 23px;
}
.bottom {
  width: 80%;
  top: 37px;
}

.nav-main {
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  opacity: 1;
  transition: $ease;
}

.close {
  opacity: 0;
}
.nodisplay {
  display: none;
}

.nav {
  margin-top: 40px;
}
.nav-close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  &:hover {
    .icon-line {
      background: $purple;
    }
  }
}
.icon-line {
  position: absolute;
  top: 1em;
  width: 40px;
  height: 2px;
  background: $dark;
  transform: rotate(45deg);
}
.transform {
  transform: rotate(-45deg);
}

.nav-links {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  a {
    font-family: $display;
    font-size: 3.3em;
    letter-spacing: -1px;
    font-weight: 300;
    text-decoration: none;
    color: black;
    padding: 0.3em 0;
    &:hover {

    }
  }
}
/*navlink hover effect*/
.slide-out {
	display: inline-block;
	position: relative;
  text-decoration: none;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: -5px;
    border-bottom: 8px solid $blue;
    transition: 0.4s;
    &:hover {
      width: 100%;
    }
  }
}
.slide-out:hover:after {
	width: 100%;
}

.nav-title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8em;
  font-family: $body;
  font-weight: 700;
  margin-bottom: 4em;
}
.nav-line {
  position: absolute;
  width: 6%;
  height: 7px;
  top: 11.5%;
  left: 47%;
  background: $pink;
}
